<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">🎮 MRWS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex ms-auto me-5" role="search" action="http://localhost">
        <input type="search" class="form-control form-control-sm rounded-pill me-2 " placeholder="Search" aria-label="Search">
      </form>
      <ul class="navbar-nav align-items-center">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/category">Categories</a></li>
        <li class="nav-item"><a class="nav-link" href="/animes/all">All Animes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
        <li class="nav-item ms-3"><a class="btn-signin" href="#">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>
