<section class="hero-section position-relative text-white" style="background: url('/assets/images/bg6.jpg') no-repeat center center / cover; height: 100vh;">
  <div class="hero-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1;"></div>
  <div class="container h-100 d-flex align-items-center justify-content-between position-relative" style="z-index: 2;">
    <div class="text-start">
      <h1 class="display-4 fw-bold">Best <span class="text-primary">Anime</span> Website Ever!</h1>
      <p class="lead"><b>MRWS Anime is free website for watching your preferred animes whenever and wherever you want .</b></p>
    </div>
    <!--div class="card border-0 shadow-lg" style="width: 30%;height: 60%; border-radius: 20px;">
      <img src="assets/images/bg3.jpg" class="card-img-top" alt="Game Image" style="border-radius: 20px; height: 100vh;">
    </div-->
  </div>
</section>
