<section class="container mb-5 ">
  <div class="text-center mb-4">
    <h2 class="text-danger fw-bold">Episodes</h2>
  </div>
  <div class="row g-4">
    <div class="col-md-2" *ngFor="let ep of episodes; let i = index">
      <div class="card shadow-sm">
        <img src="{{anime.images.jpg.large_image_url}}" class="img-fluid" style="height: 200px; object-fit: cover;" alt="{{anime.title}}">
        <div class="card-body d-flex justify-content-center align-items-center" >
          <a href="{{ep.url}}" target="_blank"><button class="btn explore-btn"><b>Episode {{i+1}}</b></button></a>
        </div>
      </div>
    </div>
  </div>
</section>


